<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Mon Animalerie</h1>
        <p class="lead">
          Bienvenue sur la page d'accueil
          de mon animalerie&nbsp;!
        </p>
      </div>

    </main><!-- /.container -->

<?php include "html_foot.html"; ?>
<?php include "html_end.html"; ?>