      <footer class="footer-copyright bg-dark text-light text-center py-3 fixed-bottom">
        &copy; 2018 - MonAnimalerie.fr
      </footer>
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="vendor/components/jquery/jquery-slim.min.js"><\/script>')</script>
      <script src="vendor/twbs/bootstrap/site/docs/4.1/assets/js/vendor/popper.min.js"></script>
      <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
